<!DOCTYPE html>
<html>
<head>
  <title>Joke Generator</title>
</head>
<body>
  <h1>Welcome to the Joke Generator!</h1>
  <form action="/joke" method="POST">
    <label for="name">Enter your name:</label>
    <input type="text" name="name" id="name" required />
    <button type="submit">Get a Joke</button>
  </form>
</body>
</html>
s